* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    background-color: bisque;
}

* a {
    text-decoration: none;
    color: rgb(200, 131, 131);
}

.sidebar {
    width: 60px;
    background-color: aliceblue;
    min-height: 100vh;
    transition: .3s;
    overflow: hidden;
}

.sidebar:hover {
    width: 200px;
}

.sidebar:hover ul li a span {
    opacity: 1;
    visibility: visible;
}

ul li a {
    display: flex;
    align-items: center;
    padding: 25px 0 25px 28px;
}

ul li a:hover {
    background-color: rgb(255, 255, 255);
}

ul li a i {
    width: 35px;
}

ul li a span {
    margin-left: 10px;
    opacity: 0;
    visibility: 0;
    transition: .3s ease-in;
}